@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background: rgb(245 245 245);
    color: black;
    /* background: linear-gradient(red,green,blue) no-repeat; */
    overflow: auto;
}


::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

nav button{
    font-size: 12px;
}

lord-icon{
    height: 22px;
}

.user lord-icon{
    width: 160px;
    height: 160px;
}


.icon lord-icon{
    margin: 50px;
    transform: scale(5);
}

@keyframes breathing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.breathing {
    animation: breathing 1s infinite;
}


@media (max-width: 640px) { 
    body{
        overflow-y: auto;
    }
}