@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .last-child\:bg-gray-400:last-child {
      background-color: #fd0000; /* You can change this color to whatever you want */
    }
  }
  



body{
    background: #e0f2fd65;
    color: black;
    /* background: linear-gradient(red,green,blue) no-repeat; */
    overflow: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

nav button{
    font-size: 12px;
}

lord-icon{
    height: 22px;
}

.user lord-icon{
    width: 160px;
    height: 160px;
}


.icon lord-icon{
    margin: 0px 50px;
    transform: scale(3);
}

@keyframes breathing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.breathing {
    animation: breathing 1s infinite;
}


@media (max-width: 640px) { 
    body{
        overflow-y: auto;
    }
}